*
!README.md
!.editorconfig
!.envrc
!justfile
!.gitignore
!LICENSE
!*/
!*.nix
!**/*.nix
!*.toml
!**/*.toml
!*.json
!**/*.json
!*.py
!**/*.py
!*.sh
!**/*.sh
!*.rasi
!**/*.rasi
!*.qml
!**/*.qml
!*.lua
!**/*.lua
!assets/**/*

